/*

Tooplate 2132 Clean Work

https://www.tooplate.com/view/2132-clean-work

*/



/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #7cb8eb;
  --secondary-color:              #4f83d1;
  --section-bg-color:             #f0f8ff;
  --custom-btn-bg-color:          #4f83d1;
  --custom-btn-bg-hover-color:    #7cb8eb;
  --dark-color:                   #000000;
  --p-color:                      #717275;
  --border-color:                 #e9eaeb;
  --link-hover-color:             #4f83d1;

  --body-font-family:             'Poppins', sans-serif;

  --h1-font-size:                 52px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  16px;
  --btn-font-size:                18px;
  --copyright-font-size:          14px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --font-weight-normal:           400;
  --font-weight-medium:           500;
  --font-weight-bold:             700;
}


/*---------------------------------------
  CUSTOM BUTTON               
-----------------------------------------*/
.custom-btn {
  background: var(--custom-btn-bg-color);
  border: 2px solid transparent;
  border-radius: var(--border-radius-small);
  color: var(--white-color);
  font-size: var(--btn-font-size);
  font-weight: var(--font-weight-normal);
  line-height: normal;
  transition: all 0.3s;
  padding: 15px 25px;
}

.navbar-expand-lg .navbar-nav .nav-link.custom-btn {
  margin-right: 0;
  padding: 12px 25px;
}

.custom-btn:hover {
  background: var(--custom-btn-bg-hover-color);
  color: var(--white-color);
}

.custom-border-btn {
  background: rgb(20, 3, 173);
  border: 2px solid var(--custom-btn-bg-color);
  color: var(--custom-btn-bg-color);
}


.custom-btn-bg-white {
  border-color: var(--white-color);
  color: var(--white-color);
}
